body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.header, .footer, .one {
    background-color: #1F2937;
}

.header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;;
    display: flex;
    font-size: 18px;
    gap: 16px;
}

.btn {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 30px;
}

.four {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    padding: 32px 128px;
    flex-grow: 0;
    gap: 128px;
    border-radius: 5px;
}

.action-header {
    color: #F9FAF8;
    font-weight: bold;
}

.action-subtext {
    color: #E5E7EB;
}

.action-sign-up {
    border-color: #F9FAF8;
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    padding: 24px;
    font-size: 12px;
}