html, body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    height: 100vw;
    justify-content: space-between;
}

.header, .footer, .one {
    background-color: #1F2937;
}

.header {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.logo {
    font-weight: bold;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;;
    display: flex;
    font-size: 18px;
    gap: 16px;
    color: #E5E7EB
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.box-one {
    width: 450px;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;

}

.btn {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 30px;
}

.main-sign-up {
    border: 0px;
    margin: 10px 0px;
}

.image-placeholder {
    display: flex;
    background-color: #6D747D;
    color: #E5E7EB;
    height: 200px;
    width: 450px;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}

.three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.box-three {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-weight: bold;
    margin-left: auto;
}

.four {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.box-four {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    padding: 32px 128px;
    flex-grow: 0;
    gap: 128px;
    border-radius: 5px;
}

.action-header {
    color: #F9FAF8;
    font-weight: bold;
}

.action-subtext {
    color: #E5E7EB;
}

.action-sign-up {
    border-color: #F9FAF8;
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    padding: 24px;
    font-size: 12px;
}